<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" id="WebApp_ID" version="2.4">
  <display-name>/</display-name>
  <servlet>
    <description>
  	</description>
    <display-name>AddSubjectPageGeneratorServlet</display-name>
    <servlet-name>AddSubjectPageGeneratorServlet</servlet-name>
    <servlet-class>Subject.Servlets.AddSubjectPageGeneratorServlet</servlet-class>
  </servlet>
  <servlet>
    <description>
  	</description>
    <display-name>AddCommonSubjectComponentServlet</display-name>
    <servlet-name>AddCommonSubjectComponentServlet</servlet-name>
    <servlet-class>Subject.Servlets.AddCommonSubjectComponentServlet</servlet-class>
  </servlet>
  <servlet>
    <description>
  	</description>
    <display-name>AddSubjectServlet</display-name>
    <servlet-name>AddSubjectServlet</servlet-name>
    <servlet-class>Subject.Servlets.AddSubjectServlet</servlet-class>
  </servlet>
  <servlet>
    <description>
  	</description>
    <display-name>DeleteCommonSubjectComponentServlet</display-name>
    <servlet-name>DeleteCommonSubjectComponentServlet</servlet-name>
    <servlet-class>Subject.Servlets.DeleteCommonSubjectComponentServlet</servlet-class>
  </servlet>
  <servlet>
    <description>
  	</description>
    <display-name>EditComponentTemplateServlet</display-name>
    <servlet-name>EditComponentTemplateServlet</servlet-name>
    <servlet-class>Subject.Servlets.EditComponentTemplateServlet</servlet-class>
  </servlet>
  <servlet>
    <description>
  	</description>
    <display-name>EditSubjectPageGeneratorServlet</display-name>
    <servlet-name>EditSubjectPageGeneratorServlet</servlet-name>
    <servlet-class>Subject.Servlets.EditSubjectPageGeneratorServlet</servlet-class>
  </servlet>
  <servlet>
    <description>
  	</description>
    <display-name>EditSubjectServlet</display-name>
    <servlet-name>EditSubjectServlet</servlet-name>
    <servlet-class>Subject.Servlets.EditSubjectServlet</servlet-class>
  </servlet>
  <servlet>
    <description>
  	</description>
    <display-name>AddUserSubjectServlet</display-name>
    <servlet-name>AddUserSubjectServlet</servlet-name>
    <servlet-class>Subject.Servlets.AddUserSubjectServlet</servlet-class>
  </servlet>
  <servlet>
    <description>
  	</description>
    <display-name>StudentProfilePageGeneratorServlet</display-name>
    <servlet-name>StudentProfilePageGeneratorServlet</servlet-name>
    <servlet-class>Profiles.Servlets.StudentProfilePageGeneratorServlet</servlet-class>
  </servlet>
  <servlet>
    <description>
  	</description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>Authentication.Servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <description>
  	</description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>Authentication.Servlets.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <description>
  	</description>
    <display-name>SubjectPageGeneratorServlet</display-name>
    <servlet-name>SubjectPageGeneratorServlet</servlet-name>
    <servlet-class>Subject.Servlets.UserSubjectPageGeneratorServlet</servlet-class>
  </servlet>
  <servlet>
    <description>
  	</description>
    <display-name>LobbyServlet</display-name>
    <servlet-name>LobbyServlet</servlet-name>
    <servlet-class>Chat.Servlets.LobbyServlet</servlet-class>
  </servlet>
  <servlet>
    <description>
  	</description>
    <display-name>ComponentMaterialsPageGeneratorServlet</display-name>
    <servlet-name>ComponentMaterialsPageGeneratorServlet</servlet-name>
    <servlet-class>Subject.Servlets.ComponentMaterialsPageGeneratorServlet</servlet-class>
  </servlet>
  <servlet>
    <description>
  	</description>
    <display-name>MaterialUploadServlet</display-name>
    <servlet-name>MaterialUploadServlet</servlet-name>
    <servlet-class>Subject.Servlets.MaterialUploadServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>AddGroupChatServlet</display-name>
  	<servlet-name>AddGroupChatServlet</servlet-name>
  	<servlet-class>Chat.Servlets.AddGroupChatServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>LobbyPageGeneratorServlet</display-name>
  	<servlet-name>LobbyPageGeneratorServlet</servlet-name>
  	<servlet-class>Chat.Servlets.LobbyPageGeneratorServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>DeleteUserSubjectServlet</display-name>
  	<servlet-name>DeleteUserSubjectServlet</servlet-name>
  	<servlet-class>Subject.Servlets.DeleteUserSubjectServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>LobbyPageGeneratorServlet</servlet-name>
    <url-pattern>/LobbyPageGeneratorServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddSubjectServlet</servlet-name>
    <url-pattern>/AddSubjectServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddCommonSubjectComponentServlet</servlet-name>
    <url-pattern>/AddCommonSubjectComponentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteCommonSubjectComponentServlet</servlet-name>
    <url-pattern>/DeleteCommonSubjectComponentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditSubjectPageGeneratorServlet</servlet-name>
    <url-pattern>/EditSubjectPageGeneratorServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditComponentTemplateServlet</servlet-name>
    <url-pattern>/EditComponentTemplateServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditSubjectServlet</servlet-name>
    <url-pattern>/EditSubjectServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddSubjectPageGeneratorServlet</servlet-name>
    <url-pattern>/AddSubjectPageGeneratorServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddUserSubjectServlet</servlet-name>
    <url-pattern>/AddUserSubjectServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StudentProfilePageGeneratorServlet</servlet-name>
    <url-pattern>/StudentProfilePageGeneratorServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SubjectPageGeneratorServlet</servlet-name>
    <url-pattern>/SubjectPageGeneratorServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LobbyServlet</servlet-name>
    <url-pattern>/LobbyServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ComponentMaterialsPageGeneratorServlet</servlet-name>
    <url-pattern>/ComponentMaterialsPageGeneratorServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MaterialUploadServlet</servlet-name>
    <url-pattern>/MaterialUploadServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddGroupChatServlet</servlet-name>
  	<url-pattern>/AddGroupChatServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteUserSubjectServlet</servlet-name>
  	<url-pattern>/DeleteUserSubjectServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>